<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue JS</title>
    <style>
        .success {
            background-color: lightgreen;
            color: #fff;
            padding: 10px;
        }

        .error {
            background-color: indianred;
            color: #fff;
            padding: 10px;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div id="app" v-cloak>
        <h1 :title="prenom">{{ message }} - {{ reverseMessage }}</h1>
        <div v-html="message"></div>
        <button @click="changeMessage">Changer</button>

        <div v-if="success == true" class="success">
            Félicitations !
        </div>
        <div v-else class="error">
            En attente de validation...
        </div>
        <button @click.prevent.right="success = !success">Valider</button>

        <ul>
            <li v-for="contact in contacts">
                {{ contact.toUpperCase() }}
            </li>
        </ul>

        <ul>
            <!-- car est la valeur de l'itération (du tableau) et index est la clé -->
            <li v-for="(car, index) of cars">
                <!-- {{ car }} -->
                ({{ index }}) Le véhicule {{ car.brand + ' ' + car.model }} est sorti en {{ car.year }}.
                Il y a {{ currentYear - car.year }} ans.
            </li>
        </ul>

        a, b, c, d, e,

        {{ numbers[1] }}
        <p v-for="number of numbers">
            {{ number }}
        </p>
        <button @click="numbers.push(numbers.length + 1)">Ajouter</button>

        <input type="text" v-model="message" @keyup.shift.alt.exact="display('test')">
        <input type="checkbox" v-model="success">

        <div :class="{ success: success == true, 'error danger': !success }"
             :style="{ border: success ? '5px solid #000' : '0' }">
            {{ success ? 'Succès' : 'Erreur' }}
        </div>
    </div>
    
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        var app = Vue.createApp({
            // Les datas représentent les var
            data() {
                return {
                    message: 'Salut Vue JS',
                    prenom: 'Steven',
                    success: false,
                    contacts: ['Fiorella', 'Marina'],
                    cars: [
                        { brand: 'Porsche', model: '911', year: 2010 },
                        { brand: 'Maseratti', model: 'Ghibli', year: 2020 },
                        { brand: 'Peugeot', model: '306', year: 1995 },
                    ],
                    currentYear: new Date().getFullYear(),
                    numbers: [1, 2, 3],
                }
            },
            computed: {
                reverseMessage() {
                    console.log('call');
                    return this.message.split('').reverse().join('');
                },
            },
            // methods représente les fonctions
            methods: {
                changeMessage() {
                    // Dans this, on récupère les data et les méthodes
                    console.log(this.message);
                    this.message = `J'adore Vue JS`;
                },
                reverseMessage() {
                    console.log('call');
                    return this.message.split('').reverse().join('');
                },
                display(message) {
                    alert(message);
                }
            },
            beforeMount() {
                console.log('before');
            },
            mounted() {
                console.log('mounted');
            },
            updated() {
                console.log('DOM à jour');
            },
        }).mount('#app');
    </script>
</body>
</html>
